<style>
table td {
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
}

.box2 {
  background: -webkit-linear-gradient(top, #FF0000, #8B0000);
  background: -moz-linear-gradient(top, #FF0000, #8B0000);
  color: white;
}

.box4 {
  background: -webkit-linear-gradient(top, #00FF00, #0b6623);
  background: -moz-linear-gradient(top, #00FF00, #0b6623);
  color: white;
}

.box8 {
  background: -webkit-linear-gradient(top, #63D1F4,  #0000FF,);
  background: -moz-linear-gradient(top, #63D1F4,  #0000FF);
  color: white;
}

.box16 {
  background: -webkit-linear-gradient(top, #FFFF00,  #999900,);
  background: -moz-linear-gradient(top, #FFFF00,  #999900);
  color: white;
}

.box32 {
  background-color:#FF00FF;
  background: -webkit-linear-gradient(top, #FF00FF,  #F5C3C2,);
  background: -moz-linear-gradient(top, #FF00FF,  #F5C3C2);
  color: white;
}

.box64 {
  background-color:#00FFFF;
  color: white;
}

.filled-cell {
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  width:100%;
  height:100%;
  font-size: 64px;
  font-weight: bold;
}

</style>

<h2>Total Score : {{totalScore}}</h2>

<button type="button" (click)="moveToBelow()" >Below</button>
<button type="button" (click)="moveToTop()" >Top</button>
<button type="button" (click)="moveToLeft()" >Left</button>
<button type="button" (click)="moveToRight()" >Right</button>
<button type="button" (click)="undo()" >Undo</button>

<table border="0">
  <tr *ngFor="let row of state; let i = index">
    <td *ngFor="let col of row; let j = index">
      <div *ngIf="col" (click)="move(i, j)" class="filled-cell box{{col}}">{{col}}</div>
      </td>
  </tr>
</table>
<!--
<div pDraggable="pnl"  dragHandle=".ui-panel-titlebar">
  <p-panel header="Drag Header">
      The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. 
      His beloved son Michael has just come home from the war, but does not intend to become part of his father's business. 
      Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, 
      kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
  </p-panel>
</div>



<div pDroppable="dd">

  <p-panel header="Drop Header">
    Dropable
</p-panel>

</div>
-->